[submodule "cli"]
	path = cli
	url = https://github.com/AppFreeticket/freeticket-cli.git
[submodule "skills"]
	path = skills
	url = https://github.com/AppFreeticket/agent-skills.git
[submodule "mcp"]
	path = mcp
	url = https://github.com/AppFreeticket/freeticket-mcp.git
[submodule "agents-enterprise"]
	path = agents-enterprise
	url = https://github.com/AppFreeticket/agents-enterprise.git
